.cabecalho-principal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .rodape-principal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-right: 5%;
}

footer .rodape-principal-contato-form {
  width: 25%;
}

footer .rodape-principal-contato-form-fieldset {
  display: flex;
  clear: both;
}

footer .rodape-principal-contato-form-legend {
  left: 0;
  float: left;
  margin-bottom: 0.7em;
}
