* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #111 10%, #222 100%);
  font-size: 100%;
  width: 100vw;
  height: 100vh;
  color: yellowgreen;
  text-shadow: 1px 1px 1px #111;
  font-family: monospace;
}

a {
  color: inherit;
}

main {
  /* min-height: calc(100vw - 42.3em); */
}

main .container {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}

.cabecalho-principal {
  background-color: #001d00;
  box-shadow: 0 0 1em #6dc55a;
  margin-bottom: 1em;
}

.cabecalho-principal a {
  text-decoration: none;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.cabecalho-principal-titulo {
}

.cabecalho-principal-nav {
  text-shadow: none;
}

.cabecalho-principal-nav-link {
  border-radius: 0;
  background-color: #6dc55a;
  min-width: 10em;
  min-height: 5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #045304;
  transition: background-color 0.8s ease, color 0.1s ease;
  margin-left: -9px;
}
.cabecalho-principal-nav-link:hover {
  background-color: #045304;
  color: yellowgreen;
  cursor: pointer;
}

footer {
  background-color: rgba(87, 106, 83, 0.5);
}

footer .container {
  background-color: rgba(87, 106, 83, 0.9);
  height: 10em;
  background-image: linear-gradient(
    135deg,
    transparent,
    transparent 14px,
    rgba(155, 155, 155, 0.1) 14px,
    rgba(155, 155, 155, 0.1) 15px,
    transparent 15px,
    transparent
  );
}

.rodape-principal-contato-form {
  margin-top: 20px;
  text-align: center;
}

.rodape-principal-contato-form label[for="email-contato"] {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  display: block;
}

.rodape-principal-contato-form-emailInput {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}

.rodape-principal-contato-form-submit {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #4dba7a;
  color: #fff;
  cursor: pointer;
}

.rodape-principal-contato-form-submit,
.rodape-principal-contato-form-emailInput {
  outline: 0;
  border: 1px solid #4dba7a;
  box-sizing: border-box;
  font-size: 16px;
}

section.map {
  background-color: rgba(87, 106, 83, 0.9);
}

section.map .subtitulo{
  padding-top: 1em;
}

.map-list-title {
  font-weight: 700;
  font-size: 1.3em;
  margin: 0.9em 0;
  padding-left: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.map-nav-link {
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
  background-image: linear-gradient(90deg, #ffffff, transparent);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s,
              color .5s;
  padding: .3em;
  margin: .1em;
}

.map-nav-link:hover {
  background-size: 100% 100%;
  color: rgba(87, 106, 83, 0.9);
  text-shadow: none;
  font-weight: bold;
}

.map-list-title + .map-nav-link {
  margin-top: 0;
}

.map-list-title-bancoDeDados {
  color: #ec6e5a;
  border-left: 4px solid #ec6e5a;
}
.map-list-title-framework {
  color: #ad85bf;
  border-left: 4px solid #ad85bf;
}
.map-list-title-frontend {
  color: #5ec6f3;
  border-left: 4px solid #5ec6f3;
}
.map-list-title-backend {
  color: #25d285;
  border-left: 4px solid #25d285;
}
