@import "./main.css";

body{
    color: #fff;
    font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.container.box {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container.box::nth-child(2) {
  flex: 2;
}

.container.box p {
  flex: 1;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.col {
  padding: 1em;
}

.row-1 {
  width: 10em;
  background-color: tomato;
  margin: .5em;
}
.row-2 {
  width: 10em;
  background-color: thistle;
  margin: .5em;
}
.row-3 {
  width: 10em;
  background-color: teal;
  margin: .5em;
}
