@import "./main.css";

h1 {
  float: left;
}

header {
  position: relative;
  clear: both;
}

nav {
  float: right;
}

nav ul > li {
  display: inline-block;
}

main {
  clear: both;
}

main > section article {
  float: left;
  background-image: linear-gradient(
    135deg,
    transparent,
    transparent 14px,
    rgba(0, 0, 0, 0.1) 14px,
    rgba(0, 0, 0, 0.1) 15px,
    transparent 15px,
    transparent
  );
  background-size: 20px 20px;
  background-attachment: fixed;
  min-height: 15em;
  margin: 1em;
}

footer {
  clear: both;
  position: absolute;
  float: left;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #555, #222);
  padding: 3em 0 3em 0;
}

footer > p {
  color: white;
  font-weight: bold;
  text-align: right;
  padding-right: 1em;
}

hr {
  background-image: linear-gradient(
    to right,
    rgba(200, 200, 200, 0),
    rgba(200, 200, 200, 1),
    rgba(200, 200, 200, 0)
  );
}

.line {
  width: 100%;
  clear: both;
  background-image: linear-gradient(
    to right,
    transparent,
    #d6dbde,
    transparent
  );
  background-repeat: no-repeat;
  background-size: 100% 1em;
  background-position: center;
  height: 0.2em;
  margin-bottom: 2em;
}
